.Title {
  position: absolute;
  top: 10vh;
  left: 0;
  text-align: center;
  width: 100%;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}
.Title span {
  font-size: 20px;
  font-weight: 400;
}
.myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0;
}
.header nav {
  margin: 0 24vw;
  display: flex;
}

.popupTitle {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../public/title.png);
  background-repeat: no-repeat;
  width: 220px;
  height: 100px;
  text-align: center;
}
.popupTitle > h1 {
  font-weight: 400;
  font-size: 26px;
}
